html,
body {
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/red.png");
}

iframe {
  width: 100%;
}

.botui-app-container {
  margin-top: 40px;
  height: 600px;
  padding-bottom: 60px;
}

.botui-container {
  /* background-image: url("../img/red.png"); */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.botui-message-content {
  color: #ffffff;
  background-color: #8f1325;
}

.botui-message-content.human {
  border: 1px solid rgba(70, 70, 70, 0.5);
  color: #a51c30;
  background: none;
  /* background-color: #646464; */
}

.botui-actions-text-input {
  color: #ffffff;
  border-bottom: 1px solid #3498db;
}

.botui-actions-buttons-button {
  height: 35px;
  background: #f7e4d6;
  border-radius: 10px;
  box-shadow: 3px 3px #877f80;
  color: #8f1325;
  font: normal 700 1.3rem/1 "Gill Sans", "Open Sans", sans-serif;
}

.botui-message-content-link {
  color: #f1c40f;
}

.img-circle {
  border-radius: 50%;
}

.mode-btn {
  background: none;
  border: 1px solid #8f1325;
  border-radius: 30px;
  box-shadow: 2px 2px #877f80;
  padding: 20px auto;
  margin-bottom: 20px;
  color: #8f1325;
  display: inline-block;
  font: normal 700 1.3rem/1 "Gill Sans", "Open Sans", sans-serif;
  text-align: center;
  text-shadow: none;
  height: 3rem;
  width: 13rem;
}
.mode-btn:hover {
  background: #8f1325;
  box-shadow: none;
  color: #ffffff;
}

#job-btn {
  margin-right: 30px;
  margin-left: 30px;
}

#applicant-btn {
  margin-right: 30px;
  margin-left: 30px;
}

.flex {
  text-align: center;
}

.p_change {
  margin-top: 10px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  text-shadow: rgb(150, 150, 150) 1px 3px 0px, rgb(171, 168, 168) 1px 13px 5px;
}
.text_theme_color {
  color: #8f1325;
}
.border_theme_color {
  border: solid 1px #8f1325;
}

.small_button {
  background-color: #8f1325; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}
