#photo {
  display: block;
  margin: auto;
  margin-top: 100px;
}

.description {
  color: #646464;
  margin-top: 100px;
  padding-bottom: 50px;
  font-size: 1.3em;
  font-weight: 300;
}

#footer {
  height: 100px;
  position: relative;
  margin-top: -100px;
}

.input-group {
  background: #000;
  display: inline-flex;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .side-col {
    width: 9%;
    min-width: 50px;
  }
  .main-col {
    width: 73%;
  }
}
@media screen and (max-width: 419px) {
  .side-col {
    width: 12%;
    min-width: 50px;
  }
  .main-col {
    width: 53%;
  }
}
@media screen and (min-width: 751px) {
  .side-col {
    width: 7%;
    min-width: 50px;
  }
  .main-col {
    width: 85%;
  }
}

.btn {
  padding-top: 9px;
}

.formesg_btn {
  position: relative;
  border: none;
  background: rgb(254, 247, 242);
  border-radius: 5px;
}
.formesg_btn:hover {
  cursor: pointer;
}
.formesg_btn:focus {
  outline: 0;
}

.input-control {
  border: 0;
  padding: 10px;
  margin-right: 0.8%;
  margin-left: -1%;
  border-radius: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#reminder {  
  display: none;
  color: #fff;
  position: fixed;
  padding: 10px;
  bottom: 70px;
  left: 10px;
	background: #3a200e;
	border-radius: .4em;
}
#reminder:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #3a200e;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5px;
	margin-bottom: -10px;
}


